* {
    margin: 0;
    padding: 0;
    position: relative;
}

*:focus {
    outline: none;
}

body {
    background: #000;
    color: #fff;
}

span {
    color: #b00c13;
    font-weight: 600;
}

h1 {
    background: #000 !important;
    z-index: 3;
}

.sCategory, h4, h2 {
    font-family: Chin;
    margin-left: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #b00c13;
}

/* -------------------- Section 1 ------------------------- Section 1 ---------------------- */

.parallax-container {
    height: 955px !important;
    z-index: 1;
}

.bg-logo {
    position: absolute;
    background: url(../img/logo/logo.png);
    width: 640px;
    height: 257px;
    left: 50%;
    transform: translate(-50%, 25%) scale(.8);
}

/* -------------------- Section 2 ------------------------- Section 2 ---------------------- */

section:nth-child(2)::before {
    content: " ";
    background: url(../img/utility/bar1.png);
    height: 50px;
    width: 100%;
    position: absolute;
    top: -49px;
    left: 0;
    z-index: 2;
}

section:nth-child(2) {
    background: #000;
    color: #fff;
}

section:nth-child(2) .row:first-child, section:nth-child(3) .row:first-child {
    padding-left: 50px;
}

h1::before {
    content: " ";
    background: url(../img/utility/line1.png);
    background-position: top;
    background-repeat: no-repeat;
    width: 1500px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0
}

.about {
    height: 525px;
}

.about p {
    font-size: 24px;
}

.about-bg video {
    height: 520px;
}

.about-bg::before {
    content: " ";
    background: url(../img/utility/outlineVidT.png);
    height: 550px;
    width: 925px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.about-bg::after {
    content: " ";
    background: url(../img/utility/outlineVidB.png);
    height: 550px;
    width: 925px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/* -------------------- Section 3 ------------------------- Section 3 ---------------------- */

section:nth-child(3) {
    background: #000;
}

section:nth-child(3) h1::before {
    background: url(../img/utility/line2.png);
    z-index: 2;
}

/*section:nth-child(3)::after {
    content: " ";
    background: url(../img/utility/bar1i.png);
    background-size: auto;
    width: 100%;
    height: 150px !important;
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: 2;
}*/

.boxStoryline, .boxMap, .boxCatalogue {
    height: 36vw !important;
}

.boxStoryline {
    background: url(../img/bg/Morgan.png);
    background-size: 100% auto;
}

.boxMap {
    background: url(../img/bg/Map.png);
    background-size: 100% auto;
}

.boxCatalogue {
    background: url(../img/bg/Catalogue.png);
    background-size: 100% auto;
}

.boxJobs {
    background: url(../img/bg/chars.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 600px;
}

.buttonClose {
    background: url(../img/utility/buttonClose.png);
    height: 50px;
    width: 50px;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    margin: 15px 25px;
    cursor: pointer;
}

#backgroundBH, #backgroundTR, #backgroundCO {
    position: fixed;
    top: 5%;
    right: 5%;
    margin: auto;
    z-index: 5;
    width: 1650px;
    height: 850px;
    display: none;
}

.boxBH, .boxTR, .boxCO {
    height: 36vw;
}

#buttonBH, #buttonCO, #buttonTR {
    border: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.bBHTextBox {
    margin-top: 150px;
    overflow: scroll;
    height: 600px;
    color: #dddddd;
}

.listSkills {
    list-style-type: disc !important;
}

.listSkills li {
    padding-left: 5px;
}

.listSkills li span {
    font-weight: 800;
    font-size: 18px;
}

.listSkills li::before {
    content: "\2022";
}

/* ---------------------------------- BOX BH ---------------------------------- */

#buttonBH {
    background: url(../img/utility/buttonBH.png);
    width: 370px;
    height: 150px;
    transform: translate(-50%, -25%);
}

#backgroundBH {
    background: url(../img/bg/bBH.png);
}

/* ---------------------------------- BOX TR ---------------------------------- */

#buttonTR {
    background: url(../img/utility/buttonTR.png);
    width: 372px;
    height: 101px;
    transform: translate(-50%, -50%);
}

#backgroundTR {
    background: url(../img/bg/bTR.png);
}

/* ---------------------------------- BOX CO ---------------------------------- */

#buttonCO {
    background: url(../img/utility/buttonCO.png);
    width: 497px;
    height: 91px;
    transform: translate(-50%, -50%);
}

#backgroundCO {
    background: url(../img/bg/bCO.png);
}

/* ---------------------------------- Section 4 ------------------------------------- */

section:nth-child(4) h1::before, section:nth-child(5) h1::before  {
    background: none !important;
}

.boxSingleplayer {
    background: #fff;
    height: 955px;
    width: 100%;
}